.contact{
    color: var(--text-color-inverse);
}

.form{
    display: flex;
    flex-direction: column;
}

.contact-content{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}

.contact-title {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contact-label-name, .contact-label-email, 
.contact-label-textarea{
    font-size: 20px;  
}

.contact-input-name{
    border-radius: 7px;  
    border: none;
    margin-top: 5px;
    font-size: 20px;  
}

.contact-input-email{
    border-radius: 7px;  
    border: none;
    margin-top: 5px;
    font-size: 20px;   
}

.contact-input-textarea{
    border-radius: 7px;  
    border: none; 
    margin-top: 7px;
    font-size: 20px; 
}


.contact-btn {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-weight: bold;
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
    max-width: 300px;
    margin: 0 auto; 
}

.contact-btn:hover {
    filter: brightness(130%);
}

.contact-wave {
    width: 100%;
    position: relative;
    top: 5px;
}
  
.contact-wave_bottom {
    transform: scaleY(-1);
    top: -2px;
}

@media(min-width: 950px) {
    
 .contact-label-name, .contact-label-email, 
 .contact-label-textarea{
     font-size: 25px;  
 }

 .contact-input-name, .contact-input-email, 
 .contact-input-textarea{
     font-size: 25px;  
 }

}